doctype html
html(lang="en")
  head
    link(href='z/dist/css/z.css', rel='stylesheet')
  body
    div(class="template",data-name="Trogdor",data-type="Burninator")
        p 'Trogdor the Burninator!'
    div(class="template",data-name="Strongbad",data-type="Boss")
        p 'Strongbad!'
    div(class="template",data-name="Homestar runner",data-type="Idiot")
        p 'Homestar runner!'
    div.slider
        div.slide
            img(src="images/Lamborghini_Gallardo_green.jpg", alt="")
        div.slide
            img(src="images/imglamborghini gallardo.jpg", alt="")
        div.slide
            img(src="images/lamborghini-gallardo-spyder.jpg", alt="")
        div.slide
            img(src="images/Lamborghini_Gallardo_Exterior.jpg", alt="")
    div(class="slider", data-start="true", data-speed="2000", data-loop="2", data-type="nav")
        div.slide
            img(src="images/Lamborghini_Gallardo_green.jpg", alt="")
        div.slide
            img(src="images/imglamborghini gallardo.jpg", alt="")
        div.slide
            img(src="images/lamborghini-gallardo-spyder.jpg", alt="")
    div(class="slider", data-direction="vertical", data-start="false", data-speed="2000", data-loop="3", data-type="dots")
        div.slide
            img(src="images/imglamborghini gallardo.jpg", alt="")
        div.slide
            img(src="images/lamborghini-gallardo-spyder.jpg", alt="")
        div.slide
            img(src="images/Lamborghini_Gallardo_Exterior.jpg", alt="")
        div.slide
            img(src="images/Lamborghini_Gallardo_green.jpg", alt="")
    div(class="slider", data-effect="fade", data-type="arrows")
        div.slide
            img(src="images/imglamborghini gallardo.jpg", alt="")
        div.slide
            img(src="images/lamborghini-gallardo-spyder.jpg", alt="")
        div.slide
            img(src="images/Lamborghini_Gallardo_Exterior.jpg", alt="")
        div.slide
            img(src="images/Lamborghini_Gallardo_green.jpg", alt="")
    script(type="text/javascript", src="z/dist/js/3rdparty.js")
    script(type="text/javascript", src="z/z.js")
    script(type="text/javascript", src="z/dist/js/helpers.js")
    script(type="text/javascript", src="z/dist/js/modules.js")
    script(type="text/javascript", src="z/z_boot.js")