doctype html
html(lang="en")
  head
    link(href='z/dist/css/z.css', rel='stylesheet')
  body
    div(class="template",data-name="Trogdor",data-type="Burninator")
        p 'Trogdor the Burninator!'
    div(class="template",data-name="Strongbad",data-type="Boss")
        p 'Strongbad!'
    div(class="template",data-name="Homestar runner",data-type="Idiot")
        p 'Homestar runner!'
    div.slider
        div.slide
            img(src="images/imglamborghini gallardo.jpg", alt="")
        div.slide
            img(src="images/lamborghini-gallardo-spyder.jpg", alt="")
        div.slide
            img(src="images/Lamborghini_Gallardo_Exterior.jpg", alt="")
        div.slide
            img(src="images/Lamborghini_Gallardo_green.jpg", alt="")
    div(class="slider", data-slide_start="true", data-slide_speed="2000")
        div.slide
            img(src="images/imglamborghini gallardo.jpg", alt="")
        div.slide
            img(src="images/lamborghini-gallardo-spyder.jpg", alt="")
        div.slide
            img(src="images/Lamborghini_Gallardo_Exterior.jpg", alt="")
        div.slide
            img(src="images/Lamborghini_Gallardo_green.jpg", alt="")
    div(class="slider", data-slide_direction="vertical", data-slide_start="false", data-slide_speed="2000", data-slide_loop="3")
        div.slide
            img(src="images/imglamborghini gallardo.jpg", alt="")
        div.slide
            img(src="images/lamborghini-gallardo-spyder.jpg", alt="")
        div.slide
            img(src="images/Lamborghini_Gallardo_Exterior.jpg", alt="")
        div.slide
            img(src="images/Lamborghini_Gallardo_green.jpg", alt="")
    div(class="slider", data-slide_effect="fade")
        div.slide
            img(src="images/imglamborghini gallardo.jpg", alt="")
        div.slide
            img(src="images/lamborghini-gallardo-spyder.jpg", alt="")
        div.slide
            img(src="images/Lamborghini_Gallardo_Exterior.jpg", alt="")
        div.slide
            img(src="images/Lamborghini_Gallardo_green.jpg", alt="")
    script(type="text/javascript", src="z/dist/js/3rdparty.js")
    script(type="text/javascript", src="z/z.js")
    script(type="text/javascript", src="z/dist/js/helpers.js")
    script(type="text/javascript", src="z/dist/js/modules.js")
    script(type="text/javascript", src="z/z_boot.js")