<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<script type="text/javascript" src="jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="template.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			//$('#fun').tooltip();
			
			/*$('#fun').tooltip('show', {
  				'location' : 'center',
  				'background' : '#d7d7d7'
			});*/
			
			/*$('#fun').tooltip('slider', {
  				'width' : '500px',
  				'height' : '300px'
			});*/
			
			//$('#fun').tooltip('show');
			
			// calls the hide method
			///$('div').tooltip('hide'); 
			
			$('#fun').tooltip('reposition','right'); 
		
			// calls the update method
			$('div').tooltip('update', 'This is the new tooltip content!'); 
			
			//$('#fun').tooltip();
			// Some time later...	
			//$('#fun').tooltip('destroy');
		});
	</script>
</head>
<body>
	<div id="fun" class="tooltip">test</div>
</body>
</html>