/**********************Start Reset****************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, centerusertest
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**********************End Reset****************************/

/**********************Start Index Page Styles****************************/
body {
	font-size: 12px;
	line-height: 18px;
	font-family: Verdana;
}
h1, h2, h3, h4, h5, h6{
	font-weight: bold;
	margin-bottom: 18px;
	font-family: "Trebuchet MS";
}
a{
	color: #FF0000;
}
h1{
	font-size: 24px;
}
h2{
	font-size: 18px;
}
h3{
	font-size: 16px;
}
h4{
	font-size: 15px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}
p{
	margin-bottom: 10px;
}
.content{
    width: 960px;
    margin: 0px auto;
	padding: 30px;
}
.content img{
	width: auto;
	height: 120px;
}
div.wider{
	width: 800px;
	height: 600px;
}
header{
    background-color: #FFBA00;
    height: 34px;
    width: 100%;
    margin-top: 34px;
}
nav{
    background: url("../images/header.gif") no-repeat scroll center top transparent;
    height: 34px;
    margin: 0 auto;
    position: relative;
    width: 967px;
    z-index: 1000;
}
nav ul{
    margin: 0px 0px 0px 160px;
    list-style-type: none;
    padding: 0px;
}
nav li{
    float: left;
}
nav li a{
    background-color: transparent;
    background-image: url("../images/carrot_arrow_22x6-ffffff-onblack.gif");
    background-position: 100% 15px;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    padding: 8px 22px 8px 10px;
    text-decoration: none;
    white-space: nowrap;
}
nav li a:hover{
    background-color: #333333;
}
header img{
    margin: 0px auto;
}
.buttons{
    position: absolute;
    top: 4px;
    right: 8px;
}
h2 .buttons img{
    width: 32px;
    height: 32px;
}
hr{
    border: 0;
    border-top: 2px solid #FFBA00;
    margin: 10px 0;
    padding: 0;
}
h2{
    background-color: #000000;
    color: #FFBA00;
    padding: 10px;
    position: relative;
}
h5{
    margin-bottom: 7px;
    padding-bottom: 0px;
}
.box{
    position: relative;
    margin: 0 auto;
    background-color: #f7f7f7;
    padding: 20px;
    border: 2px solid #FFBA00;
    margin-bottom: 15px;
}
li span{
    font-weight: bold;
    color: #666666;
}
.inside{
    width: 960px;
    margin: 0px auto;
}
footer{
    color: #ffffff;
    background-color: #000000;
    padding-top: 20px;
    min-height: 200px;
}
footer p{
    text-align: center;
}
footer li a{
    text-decoration: none;
    color: #ffffff;
}
footer li a:hover{
    color: #FFBA00;
}
/**********************End Index Page Styles****************************/