.overlay_holder{display:none;position:absolute;z-index:2005;background-color:#fff;padding:30px;width:500px;height:500px}
.modal_bg{width:1px;height:1px;position:fixed;left:0;top:0;z-index:2002;display:block;background-color:#000}
.overlay_bar{width:100%;display:block}
.overlay_close{position:absolute;right:12px;top:12px;z-index:2007}
.overlay_content{position:relative}
.overlay_frame{overflow:hidden;width:1px;height:1px}
.overlay_caption{position:absolute;bottom:0;left:0;background-color:#000;height:20px;font-size:11px;color:#fff;width:100%;display:block;text-indent:15px;padding:8px 0}
.overlay_caption h1{margin:0;padding:0}
